.product {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 20px;

  border-radius: 20px;
  border: 1px solid #e5e5e5;

  &:hover {
    .product__quick-view {
      visibility: visible;
      opacity: 1;
    }
  }

  &__img {
    order: -1;
    align-self: center;

    width: 155px;
    height: 133px;
    object-fit: contain;
  }

  &__name {
    margin: 20px 0 0;
    font-size: 14px;
  }

  &__button {
    margin-top: auto;
  }
}
