.search {
  &__field {
    padding: 5px 50px 5px 10px;

    height: 42px;

    border-radius: 6px;
    border: 1px solid #fdfdfd;

    outline: none;

    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 50%;
  }
}
