.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px 10px;

  min-height: 40px;

  background-color: $accent;

  cursor: pointer;

  font-size: 15px;
  font-weight: 700;
  color: $white;
  border: none;
  border-radius: 6px;
  outline: none;

  &:disabled {
    background-color: #c0c0c0;
    cursor: auto;
  }

  &--cart {
    position: relative;

    padding-right: 40px;

    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
  }

  &:not(:disabled):hover {
    background-color: $accent-hover;
  }
}
