.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px 10px;

  min-height: 40px;

  background-color: $accent;

  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  color: $white;
  border: none;
  border-radius: 6px;
  outline: none;

  &--cart {
    position: relative;

    &::after {
      content: "";
      margin: 0 0 0 10px;
      width: 10px;
      height: 10px;
      background-image: url("../../img/icon/cart.svg");
    }
  }

  &:hover {
    background-color: $accent-hover;
  }
}
