.modal {
  position: relative;

  display: flex;

  padding: 20px 0;

  width: 752px;
  height: 100%;
  max-height: 558px;
  overflow: auto;

  border-radius: 20px;

  background-color: #ffffff;

  &__close {
    position: absolute;

    top: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border: none;

    background-color: transparent;

    transition: $transition;

    cursor: pointer;

    font-size: 0;
    font-weight: 0;

    &:hover {
      transform: scale(1.1);
    }

    &::before,
    &::after {
      content: '';

      position: absolute;

      width: 2px;
      height: 30px;

      background-color: #4c4c4c;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__img {
    flex-shrink: 0;
    padding: 0 20px;
    width: 50%;
    height: 100%;
    object-fit: contain;
  }

  &__text-box {
    max-height: 558px;
    overflow: auto;

    padding: 0 70px 0 0;

    scrollbar-color: $accent-hover #E0E0E0;    
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #E0E0E0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $accent-hover;
    }
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    color: #043e44;
  }
}